<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>酒店信息概要</title>
    <link rel="stylesheet" href="../CSS/framework.css">
    <link rel="stylesheet" href="../CSS/function.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!-- NAVBAR CREATION -->
<header class="header">
    <h1>纷蓝酒店管理系统</h1>
    <nav class="navbar">
        <a href="#">主页</a>
        <a href="#">关于我们</a>
        <a href="#">联系方式</a>
        <a href="#">帮助</a>
    </nav>
</header>
<div class="background">

    <div class="sidebar-container">
        <aside class="sidebar">
            <ul class="sidebar-menu">
                <li><a href="function.html"><i class='bx bx-hotel'></i>酒店信息概要</a></li>
                <li><a href="customerList.html"><i class='bx bx-user'></i>顾客管理</a></li>
                <li><a href="roomList.html"><i class='bx bx-door-open'></i>房间管理</a></li>
                <li><a href="#"><i class='bx bx-cog'></i>用户中心</a></li>
            </ul>
        </aside>
        <!-- 内容显示区 -->
        <div id="info">

        </div>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>）

</body>

</html>
